.board {
    display:flex; 
    flex-direction: row; 
    margin-left: 20%;
    margin-top: 20px
}

.panel {
    margin-top: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 50px;
}

.player_0 {
   color: lightcoral;
}


.player_1 {
    color: lightskyblue;
 }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
}

.button.blue {
    background-color: royalblue;
}

.button:disabled {
    background-color: gray;
}

.board_cell {
    width: 75px;
    height: 75px;
    border: 1px black solid;
    margin:-1px 0 0 -1px;
    background-color: white;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.active_player_0 {
    background-color: lightcoral;
}

.active_player_1 {
    background-color: lightskyblue;
}